:root {
  --text_primary: seagreen;
}

/* product cards goes here  */
.product_cards {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  min-height: 70vh;
}

.product_card {
  width: 230px;
  height: 300px;
  background: whitesmoke;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  position: relative;
  border-radius: 5px;
}

.product_card img {
  width: 150px;
  height: 150px;
}

.product_card h1.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.product_card p.price {
  font-size: 1.5rem;
  color: var(--text_primary);
  font-weight: 400;
}

#product_bulk_select {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/* product cards ends here  */

/* submit button here  */

.sub_btn {
  position: absolute;
  bottom: 2rem;
  right: -50rem;
  transition: all 500ms;
}

.sub_btn button {
  border: none;
  outline: none;
  font-size: 2rem;
  background: lightblue;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.sub_btn.active {
  right: 2rem;
}

/* details table starts here  */

.modal_details {
  width: 800px;
  background: rgba(119, 136, 153, 1);
  border-collapse: collapse;
  text-align: center;
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.modal_details.active {
  right: 0rem;
}

.modal_details thead {
  font-weight: bold;
  font-size: 1.2rem;
}

.modal_details tr,
td {
  border: 1px solid lightcyan;
}

.mt_status_active {
  padding: 0.3rem 1rem;
  background: lightgreen;
  text-transform: lowercase;
  border-radius: 5px;
  color: #222;
  font-size: 0.8rem;
}

.mt_status_rejected {
  padding: 0.3rem 1rem;
  background: lightcoral;
  text-transform: lowercase;
  border-radius: 5px;
  color: #222;
  font-size: 0.8rem;
}